/* &&&&&& style of Frist div &&&&&& */
.div1
{
    background:#fb9902;
    padding:5px;
    height:50px;
	position:fixed;
	width:1500px;
}
.div1 a 
{ 
    text-decoration:none;
    color:white;
}
ul li  
{
    list-style-type:none;
    display:inline-block;
    padding:10px;
    float:right;
    color:white;
}
.Home
{
    background:#ccc;
    padding:5px;
    float:left;  
}
.div1 a:hover
{
    color:#080;	
    background:#ddd;
	
}
/* &&&& Style of 3 Divs and 3 images &&&&*/
.div2
{
    border:2px solid red;	
    display:inline-block;
    width:400px;
    padding:20px;
    margin:20px;
}
.img
{
    height:400px;
    width:350px;
    padding:20px;
}
.div2:hover
{
	
    border:1px solid red;
    padding:20px;	
	
}
.div2:hover p 
{
    text-transform:capitalize;
    visibility:hidden;
}
p
{
    text-transform:capitalize;	
}
/*&&&&&&&&&&&&&The Last Div&&&&&&&&&&&*/
.div3 
{
    background-image: url(images/IMG-20200814-WA0041.jpg);
    padding: 40px;
    margin: 50px 70px;
    height:200px;
	background-attachment:fixed;
	background-repeat:no-repeat;
    background-size:100% 100%
}

.p1
{
    background:rgb(237, 140, 140);
    padding:30px;
    margin: 50px;
    text-transform:uppercase;
	text-decoration:none;
}

.div4 
{
    background-image: url(images/IMG-20200814-WA0031.jpg);
    padding: 40px;
    margin: 50px 60px;
	background-attachment:fixed;
}

.text
{    
    background: rgba(215, 103, 103, 0.52);
    padding: 20px;
    margin: 20px;
    direction: rtl;
    color:#fb9902;
}

.text2
{
    background:rgba(255, 211, 0, 0.52);
    padding: 20px;
    margin: 10px;
    color:red;
}
